{% extends "base.html" %}

{% block content %}
  <h1 style="font-size: 60px">
    ToDoToDoToDo
  </h1>
  <a href="{% url 'manager:task-create' %}" class="btn btn-primary link-to-page" style="margin: auto">
    Add task
  </a>
  <br>
  <br>

  {% if task_list %}
    <div class="task-list" style="max-width: 600px;">
      {% for task in task_list %}
        <div class="task">
          <div class="task-header">
            <strong>{{ task.content }}</strong>
            {% if task.done %}
              <span class="task-status">Done</span>
              <a href="{% url 'manager:task-status-update' pk=task.id %}"
                 class="btn btn-secondary link-to-page" style="float: right">Undo</a>
            {% else %}
              <span class="status-not-done">Not done</span>
              <a href="{% url 'manager:task-status-update' pk=task.id %}"
                 class="btn btn-success link-to-page" style="float: right">Complete</a>
            {% endif %}
          </div>
          <div class="task-details">
            <p>
              Created: {{ task.created_date }}
              {% if task.deadline %}
                <span class="deadline">Deadline: {{ task.deadline }}</span>
              {% endif %}
            </p>
            <p class="text-muted">
              Tags:
              {% for tag in task.tags.all %}
                {{ tag.name }}
              {% endfor %}
            </p>
          </div>
          <div class="task-options">
            <a href="{% url 'manager:task-update' pk=task.id %}">Update</a>
            <a href="{% url 'manager:task-delete' pk=task.id %}">Delete</a>
          </div>
        </div>
        <br>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}